

*{
    margin: 0;
    padding: 0;
    font-family: 'Poppings', sans-serif;
    box-sizing: border-box;
}
html{
    scroll-behavior: smooth;
}
body {
    background: #080808;
    color: #fff;
}

header p{
    font-size: 2rem;
    margin: 20px 0;
}
header p a{
    display: block;
    text-indent: -9999px;
    text-decoration: none;
    background-image: url('../images/logo.jpeg');
    background-size: cover;
    height: 60px;
    width: 60px;
}

header nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    float: right;
    position:relative;
    top: -75px;
}
header nav ul li{
    display: inline-block;
    list-style: none;
    margin: 10px 20px;
}
header nav ul li a{
    text-decoration: none;
    color: #fff;
    text-transform: uppercase;
}
main ul{
     display: grid;
     grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
     grid-gap: 50px;
    margin-top: 50px;
    list-style: none;
}


 main ul li a[href="recipes/corn-chowder.html"]:before{
    background-image: url('../images/salsa-verde.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    display: inline-block;
    width: 300px; 
    height: 500px;
    content:"";
}
main ul li a[href="recipes/salsa-verde.html"]:before{
    background-image: url('../images/salsa-verde.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    display: inline-block;
    width: 300px; 
    height: 500px;
    content:"";
}
main ul li a[href="recipes/salsa-verde.html"]:before{
    background-image: url('../images/salsa-verde.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    display: inline-block;
    width: 300px; 
    height: 500px;
    content:"";
}
